
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

/* site bg */
body {
  background: radial-gradient(circle at top left, #c29771, #5b2f1a);
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

/* game container */
.game {
  width: 940px;
  height: 580px;
  padding: 1.8em;
  border-radius: 25px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);
  border: 2px solid rgba(255,255,255,0.25);

  box-shadow: 0 20px 40px rgba(0,0,0,0.35);
}

h1 {
  text-align: center;
  font-size: 2.4em;
  color: #fff3e0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.5);
  margin-bottom: 0.4em;
  font-family: 'okine_light', sans-serif;
}

/* status bar */
.status {
  display: flex;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
}

.status strong {
  color: #ffe7c2;
}

.progress {
  flex: 1;
  height: 14px;
  background: rgba(0,0,0,0.35);
  border-radius: 20px;
  overflow: hidden;
}

.progress-fill {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #a8e6a1, #6bbf6b);
  transition: width 0.3s ease;
}

#percent {
  font-weight: 600;
  color: #fff1dd;
}

/* main*/
.content {
  display: flex;
  gap: 1.5em;
  height: 420px;
}


.instructions {
  width: 35%;
  padding: 1.2em;
  border-radius: 20px;
  background: #00000040;
  box-shadow: inset 0 0 12px #00000066;
  overflow-y: auto;
}

.step {
  display: flex;
  gap: 0.7em;
  margin-bottom: 1em;
  font-size: 0.95em;
  color: #ffe7c2;
  line-height: 1.4em;
}

.box {
  width: 18px;
  height: 18px;
  border: 2px solid #fff;
  border-radius: 4px;
  flex-shrink: 0;
}

.step.done .box {
  background: #a8e6a1;
  border-color: #a8e6a1;
}

.instructions p {
  margin-top: 1em;
  font-size: 0.9em;
  color: #fff1dd;
  opacity: 0.85;
}

/* tools row */
.tools {
  width: 22%;
  padding: 1em;
  border-radius: 20px;
  background: rgba(0,0,0,0.25);
  box-shadow: inset 0 0 12px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.9em;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Scrollbar */
.tools::-webkit-scrollbar {
  width: 8px;
}

.tools::-webkit-scrollbar-thumb {
  background: #8fd18f;
  border-radius: 10px;
}

.tools::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.3);
}

/* tool container */
.tool {
  width: 100%;
  padding: 0.8em;
  border-radius: 18px;

  background: rgba(255,255,255,0.1);
  border: 2px solid rgba(255,255,255,0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: grab;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.tool:hover {
  transform: translateY(-6px) scale(1.03);
  box-shadow: 0 15px 25px rgba(0,0,0,0.4);
}

.tool img {
  max-width: 100%;
  max-height: 120px;
  object-fit: contain;
}

.tool.used {
  opacity: 0.4;
  pointer-events: none;
  box-shadow: none;
}

/* work contanier */
.work {
  flex: 1;
  border-radius: 20px;
  position: relative;

  background: rgba(0,0,0,0.25);
  box-shadow: inset 0 0 15px rgba(0,0,0,0.45);
}

/* bowl */
.bowl {
    width: 300px;
    height: 300px;
    position: relative;
    background: linear-gradient(to top, #bbb8c9, #ffffff);

    -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 1700"><path d="M848.1921,1625.3907H163.8249c-31.2681,0-61.2729-12.3401-83.4936-34.3386l-55.3409-54.7876c-10.6535-10.547-3.1848-28.7069,11.8064-28.7069h938.4235c14.9912,0,22.4599,18.1599,11.8064,28.7069l-55.3409,54.7876C909.465,1613.0507,879.4603,1625.3907,848.1921,1625.3907z M1279.1342,997.0688c0,118.3167-95.9146,214.2313-214.2313,214.2313c-42.214,0-81.5712-12.2167-114.7428-33.2972c-22.2216,172.3451-170.5161,306.6359-348.6561,306.6359H410.513c-193.3438,0-351.5341-158.1903-351.5341-351.5341V760.0079c0-30.7676,25.1735-55.941,55.941-55.941c260.7258,16.6079,521.4515,16.6079,782.1771,0c30.7676,0,55.9411,25.1734,55.9411,55.941v54.3302c32.5607-19.9758,70.8651-31.5007,111.8647-31.5007C1183.2196,782.8375,1279.1342,878.7521,1279.1342,997.0688z M1210.9926,997.0688c0-80.6831-65.4066-146.0897-146.0897-146.0897c-44.9026,0-85.0662,20.2646-111.8647,52.1398v187.8998c26.7986,31.8752,66.9622,52.1399,111.8647,52.1399C1145.5859,1143.1586,1210.9926,1077.752,1210.9926,997.0688z" fill="white"/></svg>');
    -webkit-mask-repeat: no-repeat;

    -webkit-mask-position: center;

    mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1300 1700"><path d="M848.1921,1625.3907H163.8249c-31.2681,0-61.2729-12.3401-83.4936-34.3386l-55.3409-54.7876c-10.6535-10.547-3.1848-28.7069,11.8064-28.7069h938.4235c14.9912,0,22.4599,18.1599,11.8064,28.7069l-55.3409,54.7876C909.465,1613.0507,879.4603,1625.3907,848.1921,1625.3907z M1279.1342,997.0688c0,118.3167-95.9146,214.2313-214.2313,214.2313c-42.214,0-81.5712-12.2167-114.7428-33.2972c-22.2216,172.3451-170.5161,306.6359-348.6561,306.6359H410.513c-193.3438,0-351.5341-158.1903-351.5341-351.5341V760.0079c0-30.7676,25.1735-55.941,55.941-55.941c260.7258,16.6079,521.4515,16.6079,782.1771,0c30.7676,0,55.9411,25.1734,55.9411,55.941v54.3302c32.5607-19.9758,70.8651-31.5007,111.8647-31.5007C1183.2196,782.8375,1279.1342,878.7521,1279.1342,997.0688z M1210.9926,997.0688c0-80.6831-65.4066-146.0897-146.0897-146.0897c-44.9026,0-85.0662,20.2646-111.8647,52.1398v187.8998c26.7986,31.8752,66.9622,52.1399,111.8647,52.1399C1145.5859,1143.1586,1210.9926,1077.752,1210.9926,997.0688z" fill="white"/></svg>');
    mask-repeat: no-repeat;

    mask-position: center;
    -webkit-mask-size: 100% 150%; /* stretch vertically */
    mask-size: 100% 150%;
    -webkit-mask-position: bottom center;
    mask-position: bottom center;
    margin: 0 auto;
    margin-top: 10%;
}

/* matcha */
.liquid {
  width: 100%;
  height: 0%;
  position: absolute;
  bottom: 0;

  background: linear-gradient(to top, #853110, rgb(219, 127, 74));
  transition: height 0.4s ease;
}

/* hint */
.hint {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  font-size: 0.95em;
  color: #fff1dd;
  opacity: 0.9;
}

/* FONTS */
@font-face {
    font-family: 'cake';
    src: url('assets/fonts/Cakecafe.ttf');
}

@font-face {
    font-family: 'okine_light';
    src: url('assets/fonts/MADEOkineSansPERSONALUSE-Light.otf');
}

@font-face {
    font-family: 'okine_regular';
    src: url('assets/fonts/MADEOkineSansPERSONALUSE-Regular.otf');
}
