/* setting up layout */
body{
    margin: 0;
    padding: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    "navbar navbar"
    "main gallery"
    "footer footer"
}

nav{
    top: 0;
    position: sticky;
    grid-area: navbar;
    background-color: #333;
    color: white;
    padding: 0.5em;
    font-size: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
    text-decoration: none;
    margin-right: 1em;
}


main{
    grid-area: main;
    padding: 1em;
}

main, h1{
    font-family: league spartan;
    font-size: 2.5em;
}

div#imgs {
    grid-area: gallery;
    background-color: #f4f4f4;
    padding: 1em;
}

footer{
    grid-area: footer;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1fr;
    font-size: 2em;
}



/* font faces below */
@font-face {
    font-family: 'cake';
    src: url('assets/fonts/Cakecafe.ttf')
}

@font-face {
    font-family: 'okine_light';
    src: url('assets/fonts/MADEOkineSansPERSONALUSE-Light.otf')
}

@font-face {
    font-family: 'okine_regular';
    src: url('assets/fonts/MADEOkineSansPERSONALUSE-Regular.otf')
}