* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
  font-family: sans-serif;
}

.simple-slider {
  width: 100%;
  max-width: 500px;
  height: 350px;
  margin: 40px auto;
  position: relative;
}

.simple-slider .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

/* arrows */
.swiper-button-next,
.swiper-button-prev {
  color: #000;
}

/* dots */
.swiper-pagination-bullet {
  background: #ccc;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #ec994b;
}
